.Toolbar {
  display: flex;
  align-items: center;
  height: var(--toolbar-height);
  background-color: #eee;
}

/* Header style */
.Toolbar {
  color: #fffffd;
  background-color: #dc4c3f;
  -webkit-box-shadow: 0px -17px 21px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -17px 21px 11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -17px 21px 11px rgba(0, 0, 0, 0.75);
}
.Toolbar h1 {
  font-size: 1.5em;
  padding-left: 1em;
  font-weight: 600;
}
