.Notes {
  min-height: calc(100vh - var(--toolbar-height));
  padding: 1em 0;
  flex-grow: 1;
}

.Notes > div {
  max-height: 80%;
  overflow: scroll;
}

.Notes > button:nth-child(2) {
  margin-left: 2em;
}
