body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: 'Open Sans', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

:root {
  --toolbar-height: 70px;
  --border-radius: 0.35em;
  --no-priority-color: #b6b5b5;
  --high-priority-color: red;
  --medium-priority-color: orange;
  --low-priority-color: green;
  --main-margin-left: 2em;
}

/* Work around for Materialize css datepicker modal */
.modal-overlay {
  background-color: transparent;
  width: 2500px;
  height: 2500px;
  margin-left: -1000px;
  margin-top: -1000px;
}
.modal {
  width: 90%;
}
